<!DOCTYPE html>
<html>
<meta charset="UTF-8">
  <head>
    <title>My Cookbook: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Cook Profile</h1></a>
    <dl>
      <dd><%=item.name%></dd>
      <dt>Recipes</dt>
      <dd><a href="/recipes/<%=item.recipes%>"><%=item.recipes%></a></dd>
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
    </dl>
    
    <!-- hide the following div with a link to open it -->
    <div class="control">
      <h2>Add Cook</h2>
      <form method="post" action="/cooks/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Name: 
          <input name="item[name]" value="<%=item.name%>" type="text" required>
        </label>
        <label>Blog: 
          <input name="item[Blog]" value="<%item.blog%>" type="text" required>
          </input>
        </label>
        <label>Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
