<!DOCTYPE html>
<html>
  <head>
    <title>My Cookbook <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Recipe Profile</h1></a>
    <dl>
      <dd><%=item.name%></dd>
      <dt>Recipe</dt>
      <dd><a href="/recipes/<%=item.recipe%>"><%=item.recipe%></a></dd>
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
    </dl>
    
    <!-- hide the following div with a link to open it -->
 
  </body>
</html>
<!-- add an 'add a recipe' show/hide part for adding do that for both pages -->
<!-- create text-box ingredient field-->
<!-- img, cooktime, directions, ingredients-->
