<!DOCTYPE html>
<html>
  <head>
    <title>My Cookbook: Home</title>
  </head>
  <body>
    <a href="/"><h1>My Cookbook Recipes</h1></a>
    <div>
      <a href="/recipes/"><h2>List of recipes</h2></a>
    <div>
    <div>
      <a href="/cooks/"><h2>List of cooks</h2></a>
    <div>
  </body>
</html>
