<!DOCTYPE html>
<html>
  <head>
    <title>MyCookbook: Home</title>
     <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <div class="content">
    <a href="/"><h1 class="site-home">Welcome to MyCookbook!</h1></a>
    <div>
      <a href="/recipes/"><h2 class="home-tagline">Click here to open <i>your</i> book...</h2></a>
    <div>
</div>
  </body>
</html>

