.site-title {
    font-size: 2.5em;
    font-weight:bold;   
    font-family:Arial, sans-serif;
    margin:5px;
    color:#084B78;
}
.site-subtitle {
    font-size: 1.3em;
    color:#084B78;
    margin-top:-5px;
    margin-left:5px;
}
.inline {
    display:inline; 
}
.search {
    margin-left: 40%;
}
#filters {
    text-align:left;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border: 1px blue solid;
    height:auto;
}
#sortby {
    margin:5px;
}
#recipe-list-container {
    margin: 5px;
    /*border:1px solid red;*/
    padding: 15px;
}
#recipe-container {
    /*border:1px solid orange;*/
}
.recipe-components {
  /*  border:1px solid purple;*/
}
.recipe-components:ul {
    
}
.recipe-components:li {
    border:1px solid black;
}
.recipe-name {
    float:left;
    margin-top:-5px;
    margin-left:2px;
}
.cook-name {
    float:right;
    font-size:0.8em;
    margin-top:0;
    margin-right:5px;
}
li {
    background-color:#AFCADB;
    border: 1px solid #084B78;
    list-style:none;
    width:360px;
    float:left;
    margin: 15px;
    border-radius: 15px;
    padding: 5px 10px;
}
li a {
    text-decoration:none;
    font-size:0.9em;
    color:#4D32AD;
}
li a:hover {
   color:#1D8C60;
}
.recipe-img {
    width:350px;
    height:350px;
    margin:5px 7px 5px 4px;
    
    text-align:center;
    border:1px solid #7D6D73;
    border-radius:15px;
}

body {
    font-family:Arial, sans-serif;
}
.control {
  border: 1px solid gray;
  margin: 30px 10px 10px;
  padding: 10px;
}
.control h2 {
  margin: 10px 0; 
}
label, input, textarea, select, button {
  display: block;  
}
label {
  padding-top: 10px; 
}
button {
  margin-top: 20px;
} 
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 10px 0;
}
