.site-title {
    font-size: 2em;
    font-weight:bold;   
    font-family:garamond, serif;
}
.inline {
    display:inline; 
}
.search {
    margin-left: 40%;
}
#filters {
    text-align:left;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border: 1px blue solid;
    height:auto;
}
#sortby {
    margin:5px;
}
#recipe-list-container {
    margin: 5px;
    border: 1px solid red;
    padding: 15px;
}
.recipe-container {
    
}
.recipe-components {
    
}
.recipe-components:ul {
    
}
.recipe-components:li {
    border:1px solid black;
}
li {
    border: 1px solid black;
    list-style:none;
    width:360px;
    float:left;
    margin: 15px;
    border-radius: 15px;
    padding: 5px 10px;
}
li a {
    text-decoration:none;
    font-size:1em;
    color:#1D8C60;
}
li a:hover {
   color:#4D32AD; 
}
.recipe-img {
    width:350px;
    height:350px;
    margin:5px 7px 5px 4px;
    
    text-align:center;
    border:1px solid #7D6D73;
    border-radius:15px;
}

body {
    font-family:garamond, serif;
}
.control {
  border: 1px solid gray;
  margin: 30px 10px 10px;
  padding: 10px;
}
.control h2 {
  margin: 10px 0; 
}
label, input, textarea, select, button {
  display: block;  
}
label {
  padding-top: 10px; 
}
button {
  margin-top: 20px;
} 
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 10px 0;
}
